body {
  background-color: #fffae6;
  margin: 0;
  padding: 0;
  font-family: 'Allerta Stencil', sans-serif;
  font-family: 'Fascinate Inline', cursive;
  font-family: 'Oregano', cursive;
  font-family: 'Plaster', cursive;
  /* font-family: 'Reggae One', cursive; */
  font-family: 'Sirin Stencil', cursive;
  font-family: 'Unlock', cursive;
  align-items: center;
  display: flexbox;
  text-align: center;
  /* justify-content: center; */
}

